<nav class="menubar" id="admin-menubar">
  <ul>
    <%= menu_link_to "管理TOP", :admin_root %>
    <%= menu_link_to "映画管理", :admin_movies %>
    <%= menu_link_to "会員管理", :admin_members %>
    <%= menu_link_to "全予約管理", :admin_reservations %>
    <%= menu_link_to "TOP", :root %>
  </ul>
</nav>
