<%= render "shared/login_form" unless current_member %>

<h2>最新ニュース</h2>
<ul>
  <li><%= link_to "座席指定券の販売再開について", "#" %></li>
  <li><%= link_to "営業時間短縮等について", "#" %></li>
  <li><%= link_to "館内での食事について", "#" %></li>
  <li><%= link_to "新型コロナウイルス感染予防", "#" %></li>
  <li><%= link_to "新型コロナウイルスによる払い戻し及び有効期限延長について", "#" %></li>
  <li><%= link_to "劇場版「鬼滅の刃」無限列車編", "#" %></li>
  <li><%= link_to "「月曜のmoon」月曜のお話。", "#" %></li>
</ul>
