<% @page_title = "上映を登録"%>
<h1><%= @page_title %></h1>

<% if @performances.present? %>
    <table class ="list">
        <thead>
            <tr>
                <th>年月日</th>
                <th>時刻</th>
                <th>スクリーン番号</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <% @performances.each do |perf| %>
                <tr>
                    <td><%= perf.screening_date.strftime("%Y/%m/%d") %></td>
                    <td><%= perf.start_time.strftime("%H:%M") %>~<%= perf.end_time.strftime("%H:%M") %></td>
                    <td><%= perf.screen %>番スクリーン</td>
                    <td><%= link_to "削除", "/movies/#{params[:movie_id]}/performances/#{perf.id}", method: :delete,
                                data: {confirm: "本当に削除しますか？"} %></td>
                </tr>
            <% end %>
            <%= form_for @performance, url: movie_performances_path do |form| %>
            <%= form.hidden_field :movie_id, :value => params[:movie_id] %>
                <tr>
                    <td><%= form.date_select :screening_date,
                                start_year: Time.current.year,
                                use_month_numbers: true %></td>
                    <td><%= form.time_select :start_time %></td>
                        <% options = [1,2,3,4,5,6] %>
                    <td><%= form.select :screen, options %>番スクリーン</td>
                    <td><%= form.submit "add" %></td>
                </tr>
            <% end %>
        </tbody>
    </table>      
<% else %>
    <p>パフォーマンスがありません。</p>
<% end %>

